# Система сборки
/bin/
.obj/
.build/
*.o
*.a
*.so
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log

# Файлы среды разработки
*.idea/
.vscode/
*.vs/
.DS_Store
Thumbs.db

# Visual Studio
.vs/
.vscode/
*.vcxproj.user
*.vcxproj.filters
*.sln
*.user

# Прочие временные файлы
*~
*.log
*.tmp